
[Unit]
Description=IOT Data Python Server
After=network.target

[Service]
User=root
WorkingDirectory=/root/Code/iot_device_info
ExecStart=/root/Code/iot_device_info/start_server.sh
RestartSec=5s             # 必须加单位 "s"（秒）

[Install]
WantedBy=multi-user.target


